#body{
    position: relative;
    background-color: transparent;
    z-index: -1;
    top:220px;
    left:34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 3rem;
        color: #fff;
    }
    h2{
        font-size: 2rem;
        color: #fff;
        
    }
}