body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: black;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
}
#canvas{
    z-index: -1;
    position: absolute;
}