<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="info">
        <h3>Contact Details :</h3>
        <ul>
            <li>
                <h4>
                    Email : <span>bhadauriaritik@gmail.com</span>
                </h4>
            </li>
            <li>
                <h4>
                    Contact No. : <span> 9876543458</span> 
                </h4>
            </li>
            <li>
                <h4>
                    Address : <span> Kailash Bhag, Dibiyapur, Auraiya</span>
                </h4>
            </li>
        </ul>
    </div>
</footer>